*.o
.qmake.stash
Makefile
conf.txt
docs*
tag12.db
tag12qt.pro*
tag5.db
tag5.db*
tag6.db*
tag8.db*
tag8_*
tag9.db*
tag9_*
tagqt
tagqt6
tagqt6.pro*
tagqt8
tagqt8.pro*
tagqt9
thumbs*
tempfile.jpeg
tag12qt
rep1qt
rep1qt.pro
